.main {
  text-align: center;
  margin-top: 40px;
}

.main p {
  font-size: 0.8rem;
}

.link {
  margin: auto;
  border: 1px solid grey;
  width: 65%;
  padding: 10px 0;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  max-width: 200px;
  margin-top: 40px;
  background: #000d28;
}

.link:hover {
  background: #6d9bff;
}
