.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.link {
  margin: auto;
  border: 1px solid grey;
  width: 120px;
  padding: 10px 0;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  max-width: 200px;
  margin-top: 20px;
  background: #000d28;
}

.link:hover {
  background: #6d9bff;
}

.btns {
  display: flex;
  gap: 10px;
}

.guest-info {
  margin-top: 70px;
  text-align: center;
  color: rgb(178, 178, 178);
  cursor: pointer;
}
