.card {
  text-align: center;
  width: 300px;
  height: 500px;
  border: 2px solid rgb(99, 99, 99);
  border-radius: 5px;
  margin: 25px auto;
  padding: 8px;
  background: rgb(32, 35, 57);
  position: relative;
}

.card-question {
  color: rgb(220, 220, 220);
  font-size: 1rem;
  border-bottom: 2px solid rgb(143, 108, 43);
}

.card-answer {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  padding: 25px 0 10px 0;
}

.card-btns {
  position: absolute;
  bottom: 5px;
}
